@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin:0;
    padding: 0;
    font-family: "Poppins" , sans-serif;
    overflow: none;
}
.profile {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(3, 3, 3);
    position: absolute;
    top: 20px;
    left: 20px;
}
.container {
    width: 300px;
    /* height: 400px; */
    background-color: #ecebeb;
    position: absolute;
    top: 100px;
    left: 40px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.26);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    column-gap
}
p {
    position: absolute;
    top: 25px;
    left: 80px;
}

.button1  {
    width: 280px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d6d6d6;
    border: 1px solid grey;
    justify-self:center;
}
.button2  {
    width: 280px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d6d6d6;
    border: 1px solid grey;
}
