body {
    margin: 0;
    padding: 0;
    background-color: yellow;
}
.circle {
    position: absolute;
    background-color: white;
    padding: 150px;
    border-radius: 150px;
    top: -100px;
    left: -100px;
}
.text{
    background-color: black;
    height: 200px;
    width:200px ;
    position: absolute;
    left: 45%;
}
